html,body{
    overflow-x: hidden;
    overflow-y: overlay;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #dcdcdc;
    height: 100%;
    width : 100%;
    
}
.contpart{
/*    overflow: hidden;*/
    height : 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course_container{
    display: flex;
    flex-direction: row;
    background-color: #dcdcdc;
    height : 350px;
    width : 700px;
    margin-bottom: 0px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  /* margin-left: 150px;*/
}
.up{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    font-size: 32px;
}
.up p{
    text-align: center;
}
.cword{
    color: orange;
}
.mword{
   color: blue;
}
.leftmod1{
    color: blueviolet;
    display: flex;
    flex-direction:column;
}
.leftmod2{
    color: blueviolet;
    display: flex;
    flex-direction:column;
}
.midmod{
    color: blueviolet;
    display: flex;
    flex-direction:column;
}
.rigmod1{
    color: blueviolet;
    display: flex;
    flex-direction:column;
}
.rigmod2{
    color: blueviolet;
    display: flex;
    flex-direction:column;
}
.container {
    text-align: center;
    height: 90px;
    width: 120px;
}
.inbl1{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.inbl2{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.inbl3{
    text-align: center;
    display: flex;
    flex-direction: column; 
}
.inbl4{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.inbl5{
    text-align: center;
    display: flex;
    flex-direction: column; 
}
.schl, .med, .art, .engg, .cod, .sing, .dan, .fin, .self, .tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 450px) {
    .up{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        font-size: 28px;
    }
}
@media (max-width: 450px) {
  .inbl1, .inbl2, .inbl3, .inbl4, .inbl5 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
    }
}
@media (max-width: 450px) {
    .course_container {
        justify-content: center;
        align-items: center;
        height: 450px;
        flex-direction: column;
    }
}
@media (max-width: 450px) {
    .schl, .med, .art, .engg, .cod, .sing, .dan, .fin, .self, .tech {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 450px) {
  .contpart {
        height: 500px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
