
/************************************************************** Main css of this page *****************************************************************/
html,body{
    width: 100%;
    height: 100%;
}

.hide{
    display: none !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/************************************************************* welcome page css start *****************************************************************/

.welcome_page{
    background-color: #1100000f;
    width: 100%;
    height: 800px;
    overflow: hidden;
}
#background_image .header{
    position: absolute;
}
#background_image .header img{
    width: 100%;
    height: 425px;
}

.headerpart{
    height: 422px;
    background-image: url(../asset/header.png);
    background-position:  left top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footerpart{
    background-image: url(../Background/lower_left.png),url(../Background/lower_right.png),url(../asset/behind_girl4.png);
    background-position: left bottom, right bottom,right bottom;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 30%,30%,30%;
    height: fit-content;
}
.headerpart > .logoandlogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headerpart > .logoandlogin > .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.headerpart > .logoandlogin > .logo p{
    font-size: 24px;
}

.headerpart > .logoandlogin > .logo img{
    width: 70px;
    height: 100px;
}
.headerpart > .logoandlogin > .usericon{
    background-color: white;
    border: 12px solid white;
    border-radius: 150px;
    position: absolute;
    right: 120px;
}
.usericon > a img{
    width: 20px;
    height: 22px;
}
.footerpart{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 380px;
}
.footerpart .upper_part{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
.upper_part > h1{
    color: #da0b4e;
}
.upper_part > p{
    font-size: 24px;
    margin-bottom: 1rem;
}
.footerpart .lower_buttons{
    z-index: 2;
    margin-top: 30px;
    margin-bottom: 50px;
}
.footerpart .lower_buttons button{
    margin: 10px;
    border-radius: 20px;
    padding: 8px;
    width: 120px;
}
.btn-primary {
    color: #fff;
    background-color: black;
    border: 2px solid;
    border-color: #da0b4e;
}
.footerpart .lower_buttons button:hover{
    color: #fff;
    background-color: #da0b4e !important;
    border-color: black;
}
.footerpart .behind_girl img{
    z-index: -2;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 35%;
    right: -6%; 
}
.footerpart .cross_behind_girl{
    z-index: 0;
    position: absolute;
    width: 25%;
    right: 0%;
    top: 56%;
}
.footerpart .cute_girl{
    z-index: 1;
    position: absolute;
    width: 50%;
    bottom: -25%;
    right: 0%;
}
/* welcome page css end */
/**************************************************************** bcv page css start ******************************************************************/

.bcv_page{
    background-color: #1100000f;
    width: 100%;
    height: 900px;
}
/* Navbar stared */
.bcv_page #navbar{
    background-color: #da0b4e; 
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* overflow-x: hidden; */
}
.bcv_page #total_navbar{
    z-index: 2;
    width: 100%;
}

.bcv_page #navbar .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bcv_page #navbar .logo img{
    margin-left: 10%;
    width: 50px;
    height: 75px;
}

.bcv_page #navbar .top_rig{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0px;
    padding-right: 50px;
}
.top_rig img{
    width: 42px;
    background-color: white;
    border: 12px solid white;
    border-radius: 150px;
}
#hamburgerMenu{
    background-color: #da0b4e;
    display: none;
}
#hamburgerMenu a:hover {
    background-color: #ddd;
    color: black;
}
#hamburgericon{
  color: white;
  padding-right: 20px;
}

#hamburgerMenu a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#menu_content{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}
#menu_content span a{
    color: white;
}

/* Navbar ended */

.bcv_upperpart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcv_upperpart input{
    margin-top: 100px;
    width: 32%;
    border-radius: 15px;
}
.bcv_downpart{
    width: 100%;
    height: 600px;
}

.bcv_downpart .leftpart{
    height: 600px;
    float: left;
    overflow: hidden !important;
}

.bcv_downpart .leftpart .content_holder{
    margin-left: 100px;
}

.bcv_downpart .leftpart .content_holder .background_shape{
    width: 740px;
    position: absolute;
    top: -55px;
    left: -45px;
}
.bcv_downpart .leftpart .content_holder .man_reading {
    position: absolute;
    z-index: 1;
    width: 280px;
    left: 223px;
    bottom: 0;
}
.bcv_downpart .leftpart .content_holder .lamp{
    position: absolute;
    width: 227px;
    left: 67px;
    bottom: 0;
}
.bcv_downpart .rightpart{
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.bcv_downpart .rightpart .rightpart_content_holder{
    float: right;
    text-align: right;
    margin-top: 100px;
    font-size: 30px;
    padding-right: 90px;
}
#showhideTextportion{
    display: flex;
    justify-content: flex-end;
}
.showhideTextBox{
    width: 200px;
    background-color: #da0b4e;
    border: 2px solid;
    border-color: black;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}
.showhideTextBox .showhidebutton{
    color: white;
}
.bcv_downpart .rightpart .rightpart_content_holder .contact_button{
    margin-top: 85px;
    
}
.contact_button button{
    margin: 10px;
    border-radius: 20px;
    padding: 8px;
    width: 120px;
}
/*bcv page css end */
/**************************************************************** chatbot page strted *****************************************************************/

    .chatbot_page{
        background-color: #1100000f;
        width: 100%;
        height: 600px;
        display: inline-flex;
    }

    .chatbot_left_part{
        display: flex;
        flex-direction: column;
    }
    .chatbot_left_part .single_item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        padding-bottom: 10px;
    }
    .chatbot_left_part .single_item img {
        width: 120px;
    }
    .chatbot_left_part .single_item span{
        padding: 37px;
        margin-left: 50px;
        height: fit-content;
    }
    .texto{
    font-size: 24px; 
    color: #da0b4e;
    }
    .chatbot_right_part{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow :hidden;
    }
    .chatbot_background{
        position: absolute;
        z-index: -1;
        top: -80px;
    }
    .chatbot_background img{
        width: 670px;
    }
    .chatbot_div{
        position: absolute;
        z-index: 1;
        height: 500px;
        width: 450px;
        background-color: #e8e8e8;
        opacity: 0.9;
        border: 2px solid #0000ff42;
        padding: 5px;
        right: 100px;
        top: 40px;
    }
    .btn-primary:not(:disabled):not(.disabled).active{
    color: #fff;
    border: 2px solid;
    background-color: #da0b4e;
    border-color: black;
    }
    .chatbot_heading{
        text-align: center;
        width: 100%;
        height: 55px;
    }
    .chatbot_heading p{
        font-size: 20px;
    }
    .chatbot_buttons{
        width: 100%;
        height: 50px;
        position: absolute;
        z-index:1;
    }
    .chat_space{
        position: absolute;
        z-index: 1;
        width: 98%;
        height: 292px;
        bottom: 101px;
        overflow-y: scroll;
    }

    /*chat message code*/


    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }
    
    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }
    
    .container::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }
    
    .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
    }
  
/* chat message code end*/

    .message_input{
        position: absolute;
        bottom: 30px;
        width: 370px;
        left: 35px;
    }
    .message_input input{
        height: 65px;
        border-radius: 15px;
    }
    .message_input img{
        width: 30px;
    }
    .message_input a{
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .form-group {
        display: inline-flex;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .form-group label{
        width: 50px;
    }
    .from-control{
        padding: 0px !important;
        margin-left: 15px;
    }
    .form-group input,textarea {
        padding: 0px !important;
        margin-left: 15px;   
    }
    .message-form input,textarea{
        width: 325px;
        height: 50px;
    }
    .message-form textarea{
        width: 325px;
        height: 100px;
    }
    .message-form{
        width: 100%;
        height: 290px;
        position: absolute;
        bottom: 100px;
        padding-top: 25px;
    }
    .message-form .submit_button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* Chatbot page ended */
/*************************************************************** Cources page started *****************************************************************/

    .cources_page{
        background-color: #1100000f;
        width: 100%;
        height: 700px;
    }
    .cources_page .up{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 40%;
        width: 100%;
        font-size: 36px;
    }
    .cources_page .up p{
        text-align: center;
    }
    .cources_page .up .cword{
        color:  #da0b4e;
    }
    .cources_page .up .mword{
       color: black;
    }
    .cources_page .contpart{
        height : 350px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cources_page .contpart .course_container{
        display: flex;
        flex-direction: row;
        height : 350px;
        width : 700px;
        margin-bottom: 0px;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
    }

    .module{
        color:  #da0b4e;
        display: flex;
        flex-direction:column;
    }
    .courceimage {
        text-align: center;
        height: 90px;
        width: 120px;
    }
    .main_course_module{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .schl, .med, .art, .engg, .cod, .sing, .dan, .fin, .self, .tech {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/*Cources page ended */

/************************************************************** Number page started *******************************************************************/


    .number_page {
        background-color: #1100000f;
        width: 100%;
        height:670px;
    }
    .uprpart{
        display: flex;
        width: 100%;
        height: 120px;
    }
    .line{
        color: black;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        margin-left: 00px;
    }
 .number_page .line .word{
        color:  #da0b4e;
    }
    .uprpart p{
        text-align: center;
        
    }
    .dnpart{
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: row;
    }
    .lefpart{
        display: flex;
        width: 50%;
        height: 100%;
        float: left;
        overflow: hidden !important;
    }
    .colgrad {
        z-index: 0;
        width: 440px;
        position: absolute;
        top: 145px;
        left: 35px;
        height: 450px;

    }
    .pot {
        position: absolute;
        z-index: 1;
        width: 140px;
        left: 170px;
        bottom: -45px;
        height: 365px;
    }
    .rigpart{
        width: 50%;
        height: 100%;
        float: right;
    }
    .rigpart_cont_holder {
        z-index: 0;
        text-align: left;
        margin-top: 20px;
        font-size: 20px;
        padding-left: 00px;
        width: 100%;
        padding-right: 00px;    
        display: flex;
        flex-direction: column;
    }
    .cont1{
        text-align: left;
        width: 100%;
        height: 150px;
    }
    .line1, .line2, .line3{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .img1, .img2, .img3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .cont1 img{
        width: 135px;
        height: 135px;
    }
    .cont2{
        text-align: left;
        width: 100%;
        height: 180px;
    }
    .okpic img{
        position: absolute;
        margin-top: 33px;
        height: 30px !important;
        width: 30px !important;
        margin-left: 240px;
    }
    .cont2 img{
        width: 185px;
        height: 185px
    }
    .cont3{
        text-align: left;
        width: 100%;
        height: 200px;
    }
    .cont3 img{
        width: 185px;
        height: 185px;
    }

/* Number page ended */

/*******************************************************************Last page started******************************************************************/

    .last_page{
        background-color: #424242;
        width: 100%;
        height:820px;
    }
    .last_page_upperpart{
        width: 100%;
        height: 130px;
/*        margin-top: 50px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .last_page .middlepart{
        width: 100%;
        height: 420px;
    }
    .last_page .middlepart .contentholder{
        width: 100%;
        height: 420px;
        display: flex;
        flex-direction: row;
    }
    .last_page .middlepart .contentholder .leftpart{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .last_page .middlepart .contentholder .rightpart{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .accordion{
        margin-top: 25px;
    }
    .card{
        margin: 30px;
        width: 100%;
        border-radius: 40px !important;
    }
    .one{
    background-color:  #da0b4e;
    
    }
    .two{
    background-color: gainsboro;
    
    }
    .three{
    background-color: grey;
    }
    svg{
        float: right;
        border: 2px solid white;
        background-color:white; 
        position: absolute;
        right: 0px;
        top: -10px;
        width: 65px;
        height: 65px;
        border-radius: 75px; 
    }
    .card-body{
    color: white;
    }
    .card .card-header span{
        font-size: 18px !important;
    }
    .last_page .lowerpart{
        background-color: #696969;
        background-image: url(../Background/lower_left.png),url(../Background/lower_right.png);
        background-position: left bottom, right bottom;
        background-repeat: no-repeat, no-repeat;
        background-size: 30%,30%;
        margin-top: 20px;
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: row;
        
    }
    .last_page .lowerpart .icons{
        padding: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        padding : 0px;
    }
    .last_page .lowerpart .icons .image_group{
        width: fit-content;
        padding: 10px;
    }

    .last_page .lowerpart .links{
        padding :10px;
        height: 100%;
    }
    .last_page .lowerpart .links .linksforexternal{
        padding : 0px;
        height: 200px;
        color: white;
    }
    .lowername{
        height: 50px;
        display: flex;
        justify-content: center;
    }
    .lowerpart .links .linksforexternal {
        display: flex;
    }
    .links .linksforexternal ul{
        list-style: none;
        padding: 15px;
    }
    .last_page .lowerpart .subscribe{
        height: 100%;   
    }
    .last_page .lowerpart .subscribe .lowercontentholder{
        margin-left: 75px;
        height: 90%;
    }
    .lowercontentholder input{
        margin-top: 20px;
        border-radius: 30px;
    }
    .lowercontentholder .contact_info{
        margin-top: 20px;
        float: right;
        color: white;
    }
    .contentholder_mobile{
        display: none;
    }

    /*Last page ended */
/************************************************************ Main CSS ended **************************************************************************/
/********************************************************** media query started ***********************************************************************/
/***************************************************** Laptop M 1024px media query stared *************************************************************/
@media(max-width:1025px){
    /*Welcome page media query started*/
    
    .headerpart > .logoandlogin > .logo img {
    width: 65px;
    height: 95px;
    }
    /*Welcome page media query ended*/
    /**********************************************************************/
    /* Bcv page media query start */
    .bcv_downpart .leftpart .content_holder .background_shape {
        width: 630px;
        top: 50px;
        left: -69px;
    }
    .bcv_downpart .leftpart .content_holder .man_reading {
        width: 230px;
        left: 160px;
        bottom: 0;
    }
    .bcv_downpart .leftpart .content_holder .lamp {
        width: 193px;
        left: 37px;
    }
    .bcv_downpart .rightpart .rightpart_content_holder {
        margin-top: 200px;
        padding-right: 60px;
    }
    .bcv_downpart .rightpart .rightpart_content_holder .contact_button {
        margin-top: 5px;
    }
    /*Bcv page media query end */
    /*************************************************************************/
    /* Chatbot page media query started */

    .chatbot_left_part .single_item span {
        padding: 10px;
        margin-left: 20px;
    }
    .chatbot_left_part .single_item .develop_content{
        margin-left: 10px;
    }
    .chatbot_div {
        height: 430px;
        right: 25px;
        top: 0px;
    }
    .chatbot_background img {
    width: 600px;
    }
    .chat_space {
        height: 220px;
    }
    .message-form {
        height: 235px;
    }
    .message-form input{
        height: 40px;
    }
    .message-form textarea {
        height: 75px;
    }    

    /* Chatbot page media query ended */
    /*************************************************************************************/
    /* course page media query started */
    .module {
        max-width: 24%;
    }
    /* course page media query ended */
    /**********************************************************************************/
    /* Number page media query started */
    .okpic img {
        margin-right: 0px;
        right: -10px;
    }
    /* Number page media query ended */
    /*************************************************************************************/
    /* last page media query strated */
    .last_page .middlepart {
        height: 480px;
    }
    .card {
        width: 90%;
    }
    /* Last page media query ended */
}
/******************************************************** Tablet 768px media query stared ************************************************************/
@media(max-width:770px){
    /* welcome page media query */
    .headerpart > .logoandlogin > .logo img {
    width: 70px;
    height: 115px;
    }
    .namesearch input {
        width: 50%;
    }
    /* welcome page media query end */
    /********************************************************************/
    /* Bcv page media query start */
    .bcv_upperpart input {
        width: 40%;
    }
    .bcv_downpart .leftpart .content_holder .background_shape {
        width: 475px;
        top: 178px;
        left: -63px;
    }
    .bcv_downpart .leftpart .content_holder .man_reading {
        width: 175px;
        left: 100px;
    }
    .bcv_downpart .leftpart .content_holder .lamp {
        width: 156px;
        left: 30px;
    }

    .bcv_downpart .rightpart .rightpart_content_holder {
        font-size: 18px;
        padding-right: 60px;
    }
    .bcv_downpart .rightpart .rightpart_content_holder .contact_button{
        margin-top: 50px;
    }
    /*Bcv page media query end */
    /*************************************************************************************/
    /* Chatbot page media query started */
    .chatbot_left_part .single_item {
        margin-left: 0px;
    }
    .chatbot_left_part .single_item img {
        width: 100px;
    }
    .chatbot_left_part .single_item span {
        padding: 5px;
        margin-left: 10px;
    }
    .chatbot_background {
        top: -65px;
        left: -55px;
    }
    .chatbot_background img {
        width: 475px;
    }

    .chatbot_div {
        height: 400px;
        width: 345px;
        right: 20px;    
        top: 0px;
    }
    .chat_space {
        height: 192px;
    }
    .message_input {
        width: 295px;
        left: 20px;
    }
    .message-form {
        height: 210px;
    }
    .message-form input{
        width: 242px;
    }
    .message-form textarea {
        width: 242px;
    }

    /* Chatbot page media query ended */
    /*************************************************************************************/
    /* course page media query started */
    .module {
        max-width: 24%;
    }
    .lefpart_cont_holder{
        width: 100%;
        height: 100%;
    }
    .colgrad {
        width: 410px;
        left: -30px;
    }
    .pot {
        width: 140px;
        left: 98px;
    }

    /* Course page media query ended */
    /***************************************************************************************/
    /* number page media query started */
    .cont1 img {
        width: 90px;
        height: 100px;
    }
    .cont2 img {
        width: 130px;
        height: 140px;
    }
    .cont3 img {
        width: 130px;
        height: 140px;
    }
    /* Number page media query ended */
    /*****************************************************************************************/
    /* Last page media query started */
    .last_page .middlepart {
        height: 520px;
    }
    .card {
        width: 90%;
    }
    /* Last page media query ended */ 
}
/****************************************************** Mobile L 425px media query stared *************************************************************/
@media(max-width:450px){
    /* welcome page css started */
    .welcome_page{
        height: 700px;
    }
    .headerpart {
    height: 325px;
    }
    .headerpart > .logoandlogin > .logo img {
    width: 65px;
    height: 110px;
    }
    .headerpart > .logoandlogin > .usericon {
        right: 45px;
    }
    .upper_part > p{
        font-size: 20px;
    }
    .footerpart .lower_buttons button {
        margin: 9px;
        width: 100px;
    }
    .footerpart .lower_buttons {
        margin-bottom: 30px;
    }
  /* welcome page css ended */
  /********************************************************************/
  /* Bcv page media query  strted */
    .bcv_page {
        width: 100%;
        height: 1100px;
    }
    .bcv_page #navbar .top_rig{
        padding-right: 30px;
    }
    .bcv_upperpart input {
        width: 65%;
    }
    .bcv_downpart .leftpart {
        height: 475px;
    }
    .bcv_downpart .leftpart .content_holder .background_shape {
        width: 112%;
        top: 50px;
        left: -35px;
    }
    .bcv_downpart .leftpart .content_holder .man_reading {
        width: 39%;;
        left: 135px;
        bottom: 6px;
    }
    .bcv_downpart .leftpart .content_holder .lamp {
        width: 33%;
        left: 40px;
        bottom: 10px;
    }
    .bcv_downpart .rightpart .rightpart_content_holder {
        font-size: 16px;
        padding-right: 10px;
        margin-top: 0px;
    }
    .bcv_downpart .rightpart .rightpart_content_holder .contact_button {
        display: flex;
        justify-content: space-evenly;    
    }
  /* Bcv page media query ended */
  /*************************************************************************************/
  /* Chatbot page media query started */
    .chatbot_page {
        height: 900px;
        display: flex;
        flex-direction: column;
    }
    .chatbot_left_part {
        height: 400px;
    }
    .chatbot_right_part {
        margin-top: 50px;
        height: 400px;
    }
    .chatbot_background {
        top: -70px;
        left: -80px;
    }
    .chatbot_background img {
        width: 108%;
    }
    .container {
        padding: 5px;
    }
    .chatbot_div{
        right: 40px;
    }
    /* Chatbot page media query ended */
    /*************************************************************************************/
    /* Cources page media query started */
    .cources_page {
        height: 1200px;
    }
    .cources_page .up{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 240px;
        width: 100%;
        font-size: 28px;
    }
    .main_course_module {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
    }
    .cources_page .contpart  {
        height: 900px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cources_page .contpart .course_container {
        justify-content: center;
        align-items: center;
        height: 900px;
        width: 100%;
        flex-direction: column;
    }
    .schl, .med, .art, .engg, .cod, .sing, .dan, .fin, .self, .tech {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    /* Cources  page media query ended */
    /******************************************************************************/
    /* Number page media query started */
    .number_page {
        height: 1100px;
    }
    .uprpart p{
        font-size: 28px;
    }
    .dnpart {
        flex-direction: column;
        height: 900px;
    }
    .lefpart {
        width: 100%;
        height: 780px;
    }
    .colgrad {
        width: 100%;
        left: 0px;
        top: 0px;
    }
    .pot {
        width: 30%;
        left: 30%;
    }
    .rigpart {
        padding-top: 20px;
        width: 100%;
    }
    .line1{
        width: 70%;
    }
    .img1{
        width: 30%;
    }
    .line2{
        width: 60%;
    }
    .img2{
        width: 40%;
    }
    .cont3 {
        height: 170px;
    }
    .line3{
        width: 48%;
    }
    .img3{
        width: 52%;
    }    
    /* Number page media query ended */
    /***********************************************************************/
    /* Last page media query started */
    .last_page{
        height: 1600px;
    }
    .last_page .middlepart {
        height: 870px;
    }
    .card {
        width: 80%;
    }
    .last_page .middlepart .contentholder {
        display: none;
    }
    .contentholder_mobile{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
    }
    .last_page .lowerpart{
        height: 600px;
        flex-direction: column-reverse;
    }
    .last_page .lowerpart .icons {
        height: 100px;
    }
    .last_page .lowerpart .links {
        height: 450px;
        margin-top: 30px;
    }
    .last_page .lowerpart .subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 375px;
    }
    .last_page .lowerpart .subscribe .lowercontentholder {
        margin-left: 0px;
    }
    /* Last page media query ended */
}
/******************************************************** Mobile M 375px media query stared ***********************************************************/
@media(max-width:380px){
    /* welcome page media query started */
    .headerpart > .logoandlogin > .logo img {
    width: 55px;
    height: 90px;
    }
    .headerpart > .logoandlogin > .usericon {
        right: 30px;
    }
    .upper_part > p {
        font-size: 18px;
    }
    .footerpart .lower_buttons button {
        margin: 10px;
        width: 200px;
    }
    .footerpart .lower_buttons{
        display: contents;
    }
    /* welcome page media query ended */
    /******************************************************************************/
    /* Bcv page media query ended */
    .bcv_page {
        height: 1160px;
    }
    .bcv_downpart .leftpart {
        height: 400px;
    }
    .bcv_downpart .leftpart .content_holder .background_shape {
        width: 400px;
        top: 50px;
        left: -35px;
    }
    .bcv_downpart .leftpart .content_holder .man_reading {
        width: 142px;
        left: 112px;
        bottom: 4px;
    }
    .bcv_downpart .leftpart .content_holder .lamp {
        width: 121px;
        left: 40px;
        bottom: 10px;
    }
    /* Bcv page media query ended */
    /**********************************************************************************/
    /* chatboat page media query started */
    .chatbot_page {
        height: 1500px;
    }
    .chatbot_left_part {
        height: auto;
    }
    .chatbot_left_part .single_item {
        flex-direction: column;
        padding-bottom: 25px;
    }
    .chatbot_left_part .single_item img {
        width: 200px;
    }
    .chatbot_left_part .single_item span {
        text-align: center;
    }
    .chatbot_left_part .single_item .develop_content {
        margin-left: 0px;
    }
    .chatbot_background {
        left: -65px;
    }
    .chatbot_div {
        /* right: 14px; */
        right: 4%;
    }
    .chat_space {
        height: 170px;
    }
    /* chatbot page media query ended */
    /*********************************************************************************/
    /* Cources page media query started */
    .cources_page {
        height: 1200px;
    }
    /* Cources page media query ended */
    /*********************************************************************************/
    /* Number page media query started */
    .rigpart {
        padding-right: 0px;
    }
    /* Number page media query ended */
    /********************************************************************************/
    /* Last page media query started */
    .last_page .middlepart {
        height: 980px;
    }
    
    .contentholder_mobile {
        height: 980px;
    }
    /* Last page media query ended */
}
/******************************************************** Mobile S 320px media query stared ***********************************************************/
@media(max-width:325px){
    /* Bcv page media query started */
    .bcv_downpart .leftpart .content_holder .background_shape {
        left: -55px;
    }
    .bcv_downpart .leftpart .content_holder .man_reading {
        left: 80px;
    }
    .bcv_downpart .leftpart .content_holder .lamp {
        left: 18px;
    }
    /* Bcv page media query ended */
    /********************************************************************/
    /* chatbot page media query started */
    .chatbot_background {
        left: -52px;
    }
    .chatbot_div {
        height: 380px;
        width: 290px;
    }
    .message_input {
        width: 250px;
    }
    .message-form {
        height: 190px;
    }
    .message-form input {
        height: 35px;
        width: 188px;
    }
    .message-form textarea {
        width: 188px;
    }
    .message-form textarea {
        height: 65px;
    }    
    /* chatbot media query ended */
    /**************************************************************************************/
    /* Number page media query started */
    .colgrad {
        height: 90%;
        width: 104%;
        left: -4%;
        top: 15%;
    }
    .pot {
        left: 30%;
        height: 80%;
    }
    /* Number page media query ended */
    /**************************************************************************************/
    /* Last page media query started */
    .last_page .middlepart {
        height: 1000px;
    }
    .contentholder_mobile {
        height: 1000px;
    }    
    /* Last page media query ended */
}
/*************************************************************** Media Query Ended*********************************************************************/